{{! For each reservation}}
<article class="reserve-box">
  <div class="box-content">
      <p class="name">
        {{name}}
      </p>
      <p class="number">
        {{number}}
      </p>
      <p class="time">
        {{time}}
      </p>
  </div>
</article>
