{{! For each reservation}}
<article class="reserve-box">
  <div class="box-content">
    <div class = "pin"><i class="fa fa-map-pin" aria-hidden="true"></i></div>
      <div class = "box-text">
        <p class="name">
          {{name}}
        </p>
        <p class="number">
           {{number}}
        </p>
        <p class="time">
          {{time}}
        </p>
      </div>
    </div>
</article>
