.site-title {
  margin: 0;
  padding: 10px 20px;
  font-size: 30px;
  font-weight: 100;
  background-color: #319df6;
  color: #fff;
  font-family: 'Lobster';
}

a{
  text-decoration: none;
  color: black;
}

a:hover{
  color: #319df6;
}

body{
  font-family: 'Arbutus Slab', serif;
}

.navbar {
  background-color: #fff;
  font-size: 18px;
  line-height: 22px;
}

.navlist {
  margin: 0 0 0 20px;
  padding: 0;
}

.navitem {
  display: inline-block;
}

.description{
  display: inline-block;
  flex: wrap;
  width: 1000px;
  margin-left: 10px;
}

.location-content{
  display: inline-block;
  margin: 10px;
}

.info{

}

.pic-container{
  padding-top: 5px;
  
}

.menu-title{
  font-family: sans-serif;
  font-size: 17px;
  font-weight: 700;
  color: #319df6;
  align: center;
}

.menu-section{
  font-size: 15px;
  font-weight: bolder;
}

.menu-item{
  font-size: 13px;
  font-weight: bold;
}

.item-description{
  font-size: 12px;
}

.price{
  font-style: italic;
  font-size: 13px;
  align-items: flex-end;
}
