.site-title {
  margin: 0px;
  padding: 0px;
  font-size: 55px;
  font-weight: 100;
  width:100%;
  background-color: #33ccff;
  color: #fff;
  font-family: 'Lobster';
}

.navbar {
  background-color: #d9d9d9;
  font-size: 18px;
  line-height: 22px;
  width: 100%;
}

.navlist {
  margin: 0 0 0 20px;
  padding: 0;
}

.navitem {
  display: inline-block;
  padding:5px;
}

a {
  color: black;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #ff6666;
}

a:focus{
  outline: none;
}

body{
  font-family: 'Arbutus Slab', serif;
  margin: 0px;
  padding: 0px;
}

h1{
  padding-left: 5px;
}

.bg{
    /*position: fixed;
    left: 0px;
    top: 0px;*/
    width: 100%;
    height: 100%;
    opacity: 0.6;
    background-image: url('http://wac.450f.edgecastcdn.net/80450F/wobm.com/files/2014/01/Betty-White-630x354.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

body, html {
  margin: 0;
  height: 100%;
}

/* Retina display */
@media screen and (min-width: 1024px){
    .responsive-image{
        background-image: url('../img/retina.jpg');
    }
}

/* Desktop */
@media screen and (min-width: 980px) and (max-width: 1024px){
    .responsive-image{
        background-image: url('../img/desktop.jpg');
    }
}

/* Tablet */
@media screen and (min-width: 760px) and (max-width: 980px){
    .responsive-image{
        background-image: url('../img/tablet.jpg');
    }
}

/* Mobile HD */
@media screen and (min-width: 350px) and (max-width: 760px){
    .responsive-image{
        background-image: url('../img/mobile-hd.jpg');
    }
}

/* Mobile LD */
@media screen and (max-width: 350px){
    .responsive-image{
        background-image: url('../img/mobile-ld.jpg');
    }
}

.title-page{
  margin:2px;
  margin-top: 0px;
  padding-top:10px;
}

.description{
position: absolute;
/*top: 50%;
left: 50%;*/
text-align: left;
color: white;
font-weight: bold;
padding: 30px;
margin:10px;
display: -webkit-box;
display: -moz-box;
display: -ms-flexbox;
display: -moz-flex;
display: -webkit-flex;
display: flex;
-webkit-flex-direction: column;
-ms-flex-direction: column;
flex-direction: column;
-webkit-justify-content: left;
justify-content: left;
}

/*.description{
  display: inline-block;
  position: relative;

  flex: wrap;
  width: 100%;
  margin-left: 10px;
}*/

.location-content{
  display: inline-block;
  margin: 10px;
}

.pic-container{
  padding-top: 5px;
}

.menu-title{
  font-family: 'Lobster';
  font-size: 45px;
  font-weight: 700;
  color: #33ccff;
  text-align: center;
}

.menu-box{
  border:1px solid black;
  padding:20px;
  margin:20px;
  overflow-y: scroll;
  background-color: #e5ffcc;
}

.menu-section{
  font-size: 35px;
  font-weight: bolder;
  text-align:left;
  color:#ff6666;
}

.item-box{
  padding-left:5px;
  margin-left:5px;
}

.menu-item{
  font-size: 25px;
  font-weight: bold;
}

.item-description{
  font-size: 17px;
}

.price{
  font-style: italic;
  font-size: 25px;
  align-items: flex-end;
}

.reserve-container{
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  background-color: #cc9966;
  justify-content: center;
  height:100%;
}

.reserve-box{
  margin: 25px;
  margin-right:35px;
  width: 250px;
  min-height:150px;
  max-height:150px;
  padding:0px;
  display: flex;
  background: #ffff88;
  border:1px solid #E8E8E8;
  border-top:60px solid #fdfd86;
  font-size:22px;
  text-align:center;
  border-bottom-right-radius: 60px 5px;
  background: -moz-linear-gradient(-45deg, #ffff88 81%, #ffff88 82%, #ffff88 82%, #ffffc6 100%); /* FF3.6+ */
  background: -webkit-linear-gradient(-45deg, #ffff88 81%,#ffff88 82%,#ffff88 82%,#ffffc6 100%); /* Chrome10+,Safari5.1+ */
}

.box-content{
  flex: 1 1 80%;
  margin-left: 10px;
  margin-top:0px;
}

.pin{
  position: relative;
  top:-50px;
}

.box-text{
  position: relative;
  top: -30px;
}

#create-box-button {
  position: fixed;
  right: 20px;
  bottom: 20px;
  height: 60px;
  width: 60px;
  border: none;
  border-radius: 50px;
  font-size: 36px;
  background-color: #ff6666;
  color: #fff;
  cursor: pointer;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.50);
}

#create-box-button:hover,
#create-box-button:focus {
  right: 37px;
  bottom: 37px;
  height: 76px;
  width: 76px;
  border-radius: 80px;
  font-size: 60px;
  background-color: #33ccff;
}

#create-box-button:focus {
  outline: none;
}

#modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.85);
}

#create-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1010;
  overflow: scroll;
}

.hidden{
  display: none;
}

.modal-dialog-box {
  width: auto;
  max-width: 600px;
  min-width: 350px;
  min-height: 300px;
  margin: 40px auto;
  background-color: #fff;
  border-radius: 15px;
}

.header {
  position: relative;
  padding: 10px 20px;
}

.header h5 {
  margin: 0;
  font-size: 28px;
  color: green;
}

.close-button {
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 24px;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

.close-button:hover{
  color: #33ccff;
}

.modal-body {
  padding: 20px;
}

.modal-input {
  display: flex;
  align-items: center;
  font-size: 20px;
  margin: 10px 0;
}

.modal-input label {
  font-weight: 600;
  flex: 1 75px;
  margin-right: 10px;
}

.modal-input input,
.modal-input textarea {
  flex: 6 200px;
  padding: 8px;
  font-size: 20px;
  border: 1px solid #aaa;
}

.modal-input textarea {
  min-height: 64px;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  padding: 10px 10px 20px 10px;
}

.modal-footer button {
  font-size: 20px;
  background-color: #fff;
  color: #333;
  border: 1px solid #333;
  border-radius: 5px;
  padding: 10px;
  margin-right: 20px;
  cursor: pointer;
}

.modal-footer .cancel-button:hover {
  background-color: #eee;
  color: #319df6;
}

.modal-footer .accept-button {
  background-color: #319df6;
  color: #fff;
}

.modal-footer .accept-button:hover {
  background-color: #087dde;
}

.atitle-page{
  color: #33ccff;
  margin:2px;
  margin-top: 0px;
  padding-top:10px;
}

.apic-container{
  float: right;
  margin:5px;
  padding:10px;
}

.info{
  margin:5px;
  padding:10px;
}

.about-container{
  background-color:#e5ffcc;
  height:100%;
}

.info a{
  color: #33ccff;
}

.info a:hover{
  color: #ff6666;
}

.error h2{
  text-align: center;
  font-size: 75px;
}

.error h3{
  text-align: center;
  font-size: 25px;
}
